@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  color: #f3f3f3;
  font-family: "Comfortaa";
}

/* Header and  Banner */

header h1 {
  font-size: 48pt;
  font-weight: normal;
  margin: auto 0 auto 0;
}

#banner {
  height: 250px;
  padding: 1em;
  background-color: #5072a7;
  text-align: center;
}

.upper {
  width: 100%;
  text-align: left;
}

#spacer1 {
  width: 690px;
  height: 10px;
  display: none;
}

#home_link {
  display:inline;
  text-align: left;
}

#home_link img {
  display: inline-block;
  max-height: 45px;
  max-width: 225px;
  padding: 8px 4px 8px 12px;
  vertical-align: middle;
}

#home_link span {
  color: #f3f3f3;
  font-family: "Comfortaa";
  font-weight: normal;
}

/* NEW ADDITION #1 ------ BEGIN */
.lower > h1 {
  display: flex;
}

#break1 {
  display: none;
}

#break2 {
  display: none;
}

#break3 {
  display: none;
}

#break4 {
  display: none;
}

#quote * {
  color: black;
  display: block;
  text-align: center;
  font-size: small;
  margin-top: 0.3rem;
}

.banner-lower-text-add {
  display:inline;
}

.banner-lower-text-feet {
  display:inline;
}
/* NEW ADDITION #1 ------ END */

/* Main Content */

.inner {
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
  color: black;
}

table,
td,
th {
  border: 1px solid;
}

table {
  width: 25%;
  margin: auto;
  border-collapse: collapse;
}

.sum_top {
  background-color: #90caf9;
  background-color: #31c133;
}

.sum_mid {
  background-color: #bbdefb;
  background-color: #88e289;
}

.input_top {
  background-color: #ffcc80;
}

.input_mid {
  background-color: #ffe0b2;
}

*[id^="input_feet_"] {
  cursor: text !important;
}

*[id^="input_inches_"] {
  cursor: text !important;
}

*[id^="input_sum_inches_"] {
  cursor: text !important;
}

/* Common CSS */
tr,
th,
td {
  cursor: context-menu;
}

.text_left {
  text-align: initial;
}

.no_border_right {
  border-right: none;
}

.no_border_left {
  border-left: none;
}

.no_border_top {
  border-top: none;
}

.no_border_bottom {
  border-bottom: none;
}

@media (max-width: 1550px) {

  #spacer1 {
    width: 690px;
    height: 10px;
    display: inline-block;
  }
  
  #home_link {
    display:inline-block;
    position: relative;
    right: 46%;
    text-align: left;
  }
}


@media (max-width: 1000px) {
  table {
    width: 35%;
  }
}

@media (max-width: 800px) {
  
  #spacer1 {
    display: none;
  }

  #break2 {
    display: block;
  }

  #home_link {
    width: 100%;
    position: static;
    text-align: center;
  }

  table {
    width: 50%;
  }
}

@media (max-width: 485px) {
  h1 {
    font-size: 4em !important;
  }

  #break4 {
    display: block;
  }
}

@media (max-width: 325px) {
  h1 {
    font-size: 3em !important;
  }

  .banner-lower-text-feet {
    display:block;
  }

  header p {
    font-size: small;
  }
  
  #slogan {
    display: none;
  }
  
  table {
    width: 65%;
  }

  #banner {
    height: 210px;
  }

}
